@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 10px;
  width: 70%;
  height:70%;
  border: 1px solid blue;
}

#container h2 {
  padding: 10px 0;
}

#question-info {
  display: flex;
  justify-content: space-between;
}

.rows {
  margin: 20px 0;
  height: 50%;
  display: flex;
  justify-content: space-around;
}

.answer-btn {
  width: 200px;
  height: 80px;
}

#question-info, .answer-btn, #score {
  font-size: 1.2em;
}

#result {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.good-answer {
  color: #32CD32;
}

.wrong-answer {
  color: #DC143C;
}

.btn-right-answer {
  background: #32CD32;
  box-shadow: 5px 5px 9px #32CD32;
}

.btn-wrong-answer {
  background: #DC143C;
  box-shadow: 5px 5px 9px #DC143C;
}
