@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  margin: 15px;
  font-size: 16px;
  background-image: url("../img/background-img.jpg");
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

@media(min-width: 480px) {
  body {
    margin: 15px;
    font-size: 16px;
    background-image: url("../img/background-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 98vh;
    width: 98vw;
  }
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 50px 10px;
  padding: 10px;
  width: 90%;
  height: auto;
  border: 1px solid lightslategray;
  border-radius: 5px;
}

@media(min-width: 480px) {
  #container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 10px;
    width: 65%;
    height:70%;
    border: 1px solid lightslategray;
    border-radius: 5px;
  }
}

h1, #container {
  background: rgba(255, 255, 255, 0.8);
}

#container h2 {
  padding: 10px 0;
  margin-top: 10px;
}

#container i {
  margin-right: 15px;
}

#question-info {
  display: flex;
  justify-content: space-between;
  color: dimgray;
}

.rows {
  margin: 20px 0;
  height: 50%;
  display: flex;
  justify-content: space-around;
}

.answer-btn {
  margin: 5px;
  width: 200px;
  height: 80px;
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  border-radius: 2px;
  color: white;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
  box-shadow: 5px 5px 9px #2B32B2;
}

#question-info, .answer-btn, #score {
  font-size: 1em;
  text-align: center;
}

@media(min-width: 480px) {
  #question-info, .answer-btn, #score {
    font-size: 1.2em;
  }
}

#score {
  margin-top: 20px;
}

#result {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.result-text {
  font-size: 1.1em;
  text-align: center;
  margin: 50px 0;
}

.result-img {
  width: calc(480px / 1.5);
  height: calc(480px / 1.5);
  margin: 15px auto;
}

.good-answer {
  color: #56ab2f;
}

.wrong-answer {
  color: #D31027;
}

.btn-right-answer {
  background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 5px 5px 9px #56ab2f;
}

.btn-wrong-answer {
  background: #D31027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 5px 5px 9px #D31027;
}