* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 70%;
  height:70%;
  border: 1px solid blue;
}

.rows {
  margin: 20px 0;
  height: 50%;
  display: flex;
  justify-content: space-around;
}

.answer-btn {
  width: 200px;
  height: 80px;
}